@use "../../_themes.module.scss" as themes;

.container {
  display: flex;
  align-items: center;
  white-space: pre;
  color: black;
  font-family: themes.$font-family;
  font-size: 1.5rem;
}

.cursor {
  width: 0.4rem;
  height: 1.6rem;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    background: transparent;
  }
  50% {
    background: black;
  }
  100% {
    background: transparent;
  }
}
